[submodule "NotebookNeon"]
	path = MatrixComputations/notebook-neon
	url = git@Lithium:LaTeX/NotebookNeon.git
	branch = master
[submodule "Minimus"]
	path = MatrixComputations/minimus
	url = git@Lithium:LaTeX/Minimus.git
	branch = master
[submodule "StandaloneSilicon"]
	path = MatrixComputations/standalone-silicon
	url = git@Lithium:LaTeX/StandaloneSilicon.git
	branch = master
[submodule "MakefileLaTeX"]
	path = MatrixComputations/makefile-latex
	url = git@Lithium:LaTeX/MakefileLaTeX.git
	branch = master
[submodule "PyJool"]
	path = MatrixComputations/pyjool
	url = git@Lithium:LaTeX/PyJool.git
	branch = master
